/* Base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

:root {
  /*colors*/
  --primary-color: #d8135c;
  --light-color: #ffffff;
  --dark-color: color: #4f4f4f;
  ;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

/* P style */
p {
  color: var(--dark-color);
  font-size: 1.6rem;
  line-height: 3rem;
}

.small-section-gap {
  padding: 7.5vh 2vw;
}

/* link style */
a {
  text-decoration: none;
  outline: none;
  border: none;
}

a:visited {
  text-decoration: none;
}

/* h1<h2<h3... */

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: lighter;
}

/********************** Button style **********************/
.btn {
  cursor: pointer;

  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn:hover {
  opacity: 0.8;
}

/********************** Header **********************/

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgb(12, 12, 12);
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(12, 12, 12);
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
  transform: scalex(1.5);
}

.header__bg {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header__face-img {
  position: absolute;
  bottom: 0;
  right: -60%;
  height: 600px;
  opacity: 0.5;
  z-index: 9;
}

.header__explosion-img {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 500px;
  opacity: 0.5;
  z-index: 8;
}

.header__content {
  position: absolute;
  top: 20%;
  left: 5%;

  color: var(--light-color);
  z-index: 99;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 900;
}

.header__subtitle {
  margin-top: 1rem;
  display: block;
}

.header__subtitle--small {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.header__subtitle--animation {
  animation: move linear 1s;
}

.header__subtitle--large {
  font-size: 3rem;
  font-weight: 900;
}

@keyframes move {
  0% {
    opacity: 0;
    margin-left: 2rem;
  }

  100% {
    margin-left: 0rem;
  }
}

/********************** Header BTN with animation **********************/
.header__button {
  font-size: 1.5rem;
  margin-top: 5rem;
  z-index: 999;

  position: relative;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);

  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.header__button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

/********************** Menu **********************/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 100;

  transition: 0.4s ease-in;
}

.scroll {
  background: rgba(2, 2, 2, 0.87);
}

.menu__list {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  background: rgba(2, 2, 2, 0.925);
  height: 100vh;

  display: none;
}

.menu__list.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu__item {
  margin: 2rem 0;
  padding: 1rem;
}

.menu__link {
  color: var(--light-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__link:hover {
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

/*Burger Menu */

.burger {
  z-index: 101;
  position: absolute;
  top: 50%;
  right: 0;

  width: 60px;
  height: 45px;
  transition: 0.2s;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  /* size burger menu*/
  transform: translateY(-50%) scale(0.5);
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  background-color: var(--primary-color);
  left: 0;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
    transform 0.2s 0.4s;
}

.burger__line:nth-child(1) {
  top: 0;
}

.burger__line:nth-child(2) {
  top: calc(50% - 5px);
}

.burger__line:nth-child(3) {
  bottom: 0;
}

/*active burger*/
.burger.active .burger__line:nth-child(1) {
  top: 50%;
}

.burger.active .burger__line:nth-child(3) {
  top: 50%;
}

/********************** Services **********************/

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: rgb(3, 3, 3);
}

.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  padding: 2rem 1rem;
  width: 45%;
  box-shadow: 2px 2px 10px rgb(165, 161, 161);
}

.services__images {
  margin: 1rem;

  width: 80px;
  height: 80px;
  overflow: hidden;
}

.services__img {
  width: auto;
  height: 100%;
}

.services__btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

/********************** About **********************/

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__heading {
  font-weight: normal;
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

.article {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 3rem 0;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgb(165, 161, 161);
}

.article__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--primary-color);
  width: 200px;
  padding: 1rem;
  margin: 1.5rem 0;
  border-bottom: 2px solid var(--primary-color);
}

.article__content {
  color: var(--dark-color);
  text-align: left;
  padding: 2rem;
  font-size: 1.6rem;
}

.article__subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--primary-color);
  width: 100%;
  margin: 1.5rem 0;
}

.article__list {
  border-left: 2px solid var(--primary-color);
  margin-top: 1rem;
  width: 100%;
}

.article__item {
  font-size: 1.5rem;

  font-family: "Roboto Slab", serif;
  margin: 1rem;
}

.article__item--italic {
  font-style: italic;
}

/********************** offer **********************/



.offer__heading {
  color: var(--primary-color);
  text-align: center;
  width: 100%;
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer__item {
  position: relative;
  padding: 12rem 0 0 0;
}

.offer__title {
  padding: 0.2rem;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  background-color: var(--primary-color);
  color: var(--light-color);
  z-index: 10;
}

.offer__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  background: var(--primary-color);
  z-index: -1;
}

.offer__icon {
  position: absolute;
  top: 115px;
  right: 1rem;
  height: auto;
  width: 80px;
  opacity: 1;
}

.offer__desc {
  margin-top: 2rem;
  padding: 3rem;
  text-align: left;
  box-shadow: 2px 2px 10px rgb(165, 161, 161);
}

/********************** price **********************/

.price {
  background-image: linear-gradient(to bottom,
      rgba(56, 56, 56, 0.877),
      rgba(15, 15, 15, 0.877)),
    url("../img/tatto.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.price__heading {
  color: var(--light-color);
  text-align: center;
}

.price__list {
  padding: 2rem;
}

.price__item {
  position: relative;
  padding: 0.9rem;
  margin: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  color: var(--light-color);
  background: #b1b0b00e;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*empty class*/
.price__desc {
  padding: .9rem 1rem;
}

.price__month {
  font-size: 1.2rem;
  position: absolute;

  bottom: 8%;
  right: 0;
  transform: translate(0, 50%);

  padding: 0.5rem;
  background-color: var(--primary-color);
}

/********************** contact **********************/

.contact__heading {
  color: var(--primary-color);
  text-align: center;
}

.contact {
  background: rgba(255, 255, 255, 0.801);
}

.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  margin-top: 2rem;
  font-size: 1.5rem;

  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
  flex-direction: column;
}

.card__list {
  padding: 0.5rem;
  font-size: 1.4rem;
}

.card__title {
  margin: 4rem 0 1rem;
  font-size: 1.7rem;
  color: var(--primary-color);
  text-align: center;
}

.card__icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  display: block;
}

.card__link:hover {
  color: var(--primary-color);
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

.footer {
  background: rgba(255, 255, 255, 0.514);
}

.footer__copyright {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

/* Gallery Slider*/

.gallery {
  max-width: 500px;
  margin: auto;
  background: #fff;
  box-shadow: 2px 2px 10px rgb(165, 161, 161);
}

.gallery__main img,
.gallery__second img {
  width: 100%;
}

.gallery__second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery__second img {
  cursor: pointer;
  padding: 1rem;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

@media (min-width: 320px) {
  .offer__title {
    width: 60%;
  }

  .card__link {
    font-size: 1.2rem;
  }

  .card__icon {
    width: 20px;
    height: 20px;
  }
}


@media (min-width: 440px) {
  .header__face-img {
    right: -50%;
  }
}

@media (min-width: 530px) {
  .header__title {
    font-size: 2.1rem;
  }

  .header__face-img {
    right: -40%;
  }

  .header__subtitle {
    margin-top: 2rem;
  }

  .header__subtitle--small {
    font-size: 1.8rem;
  }

  .header__subtitle--large {
    font-size: 3.3rem;
  }

  .card__icon {
    width: 25px;
    height: 25px;
  }

  .card__link {
    font-size: 1.5rem;
  }
}

@media (min-width: 650px) {
  .header__face-img {
    opacity: 1;
    top: 20%;
    right: -30%;
  }

  .header {
    height: 600px;
    background: rgb(255, 255, 255);
  }

  .services {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -15rem;
  }

  .services__box {
    z-index: 90;
    background: #fff;
    box-shadow: none;
    margin: 0;
    width: 250px;
    box-shadow: 2px 2px 10px rgb(165, 161, 161);
  }

  .about {
    display: flex;
  }

  .article {
    display: flex;
    position: relative;
    width: 80%;
    box-shadow: 2px 2px 10px rgb(165, 161, 161);
  }

  .article__list {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .header {
    background: rgb(255, 255, 255);
  }

  .header__title {
    font-size: 2.3rem;
  }

  .header__face-img {
    right: -7%;
    height: 450px;
    opacity: 1;
  }

  .header__subtitle {
    margin-top: 2.2rem;
  }

  .header__subtitle--small {
    font-size: 2rem;
  }

  .header__subtitle--large {
    font-size: 4rem;
  }

  .offer__item {
    width: 65%;
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    position: absolute;
  }

  .menu__list {
    position: absolute;
    width: auto;
    left: 50%;
    height: 5rem;

    margin-top: 2rem;
    margin-right: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
  }

  .menu__link {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .burger {
    display: none;
  }

  .header__face-img {
    right: 10%;
    opacity: 1;
  }

  .header__explosion-img {
    top: 35%;
    right: 20%;
    height: 500px;
  }

  .article {
    width: 65%;
  }

  .offer__item {
    width: 45%;
  }

  .offer__desc {
    height: 420px;
  }

  .price__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .price__item {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .menu__list {
    width: 40%;
  }

  .header__face-img {
    right: 20%;
    height: 450px;
  }

  .header {
    height: 610px;
  }

  .header__content {
    left: 15%;
  }

  .header__explosion-img {
    top: 35%;
    right: 20%;
    height: 500px;
  }

  .offer__desc {
    height: 350px;
  }
}

@media (min-width: 1500px) {
  .menu__list {
    width: 30%;
  }

  .header__face-img {
    right: 30%;
  }

  .header__explosion-img {
    right: 30%;
  }

  .offer__item {
    width: 42%;
  }

  .offer__desc {
    height: 300px;
  }
}

/* 
https://www.pikpng.com/pngvi/JmhxmR_pink-effect-png-free-transparent-color-splash-png-png-download/ */