@import 'variables.scss';
.header {
  color: $light-color;

  &__inner {
    @include wrapper;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  height: 6rem;
  width: 10rem;
  @media only screen and (min-width: $breakpoint-tablet) {
    height: 8rem;
    width: 12rem;
  }
}
